<!DOCTYPE html>
<html>
<head>
    <title>Bérfrissítés</title>
</head>
<body>
    <h2>Bérfrissítés</h2>
    <form action = "/updatedetails" method="post">
    <table>
        <tr><td>Személyi szám</td><td><input type="text" name="szemelyiszam"></td></tr>
        <tr><td>Név</td><td><input type="text" name="name"></td></tr>
        <tr><td>Bruttó bér</td><td><input type="text" name="szam"></td></tr>
        <tr><td><input type="submit" value="Submit"></td></tr>
    </table>
    </form>
</body>
</html>
